# Archivos de configuración
*.pyc
__pycache__/
*.pyo
*.pyd
*~


# Archivos de claves secretas
secrets.json

# Archivos del entorno virtual
env/

# Archivos de la IDE
.idea/
.vscode/

# Archivos temporales
*.tmp